/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    min_len     = 100
    max_len     = 2000
    min_qual    = 10
    fwd_primer  = null
    rev_primer  = null
    cluster_id  = 0.85
    min_cluster = 5
}
